body,html{
    width:100%;height:100%; border:0;margin:0;padding:0;
}

body{
    background: url("background.jpg") no-repeat;
    background-position: center bottom;background-size: cover;
    display:flex; justify-content: center; align-items: center;
}

.screenTooSmall{
    display:none;
}
@media only screen and (max-width: 600px) {
    .screenTooSmall{
        display:flex;
        position:absolute; top:0; left:0; width: 100%;height:100%; 
        flex-direction: column; align-items: center; justify-content: center;
        z-index: 1; background: #ff6961 ; color: white; font-weight: bold; font-size:1.5em;
    }
}
.window {
    border: 1px solid silver;
    border-radius: 10px;
    min-width: 800px;max-width: 1080px;
    min-height:400px;max-height: 600px;
    background-color:rgb(23,24,26);
    color:silver;
    display:flex;flex-direction: column;
}

.window h1{margin:0;padding:0;text-align: center;font-size:1.2em}

.collection-container{
    display: flex;
    flex-direction: column;
    min-height: 0px;
}

.tabs{
    display:flex;
}

.content{
    min-height: 0px;
    display: flex;
}

.tab-link{
    width:100px;padding:5px 20px;display: flex; align-items: center; justify-content: center;
}
.tab-link.active {
    background-color: rgb(53, 58, 62);
}

.tab-content{
    display:none;
    flex: 1;
}
.tab-content.active{
    display:flex;
    font-family: 'Roboto', sans-serif;
}

.subtabs{
    overflow: auto;
}
.subtab-link{
    padding: 10px;
    border-bottom: 1px solid gray;
}
.subtab-link.active {
    background-color: rgb(65, 68, 79);
}
.subtab-content{
    overflow: auto;
    flex: 1;
}
.sub-tab-content{
    display:none;
    flex-wrap: wrap;
}
.sub-tab-content.active{
    display: flex;
}
.item{
    opacity:0.5;
    padding: 12px 6px;
    max-width: 110px;
    font-size:0.8em;
    text-align: center;
}
.item.lookingFor{
    opacity:1;
}
.item-name{
    height: 2.4em;
    display: flex;
    flex-direction: column-reverse;
}
input.items-collected{
    max-width: 34px;
    padding: 0;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid burlywood;
    color: ghostwhite;
}